{:name "Character10901"
 :default-idx 10901
 :walk {:head 1
        :body 1
        :foot 1}
 :stand {:head 1
         :body 1
         :foot 1}
 :trigger {:cloth 10902}
 :die {:cloth 10905}
 :win {:cloth 10904}
 :cry {:cloth 10905}
 :lose {:cloth 10905}
 :wait {:cloth 10906}
 }